<div class="row d-flex justify-content-center">
  <div class="container">

        <h1>Cookies</h1>
            
        <h3>TYPES DE COOKIES</h3>
        

        <hr>
            <h3>Cookies nécessaires</h3> 
            Ces cookies sont essentiels pour vous aider à utiliser les fonctions et les services que nous offrons sur le site www.cars-idf.com. Sans ces cookies, les services que vous souhaitez utiliser ne peuvent être fournis. Ces cookies ne recueillent pas de renseignements à votre sujet qui pourraient être utilisés pour vous identifier, et ils ne surveillent pas ou ne se rappellent pas où vous avez été sur Internet.
            <hr>
            
            </br>
            <h3>Cookies fonctionnels</h3>
            Ces cookies nous permettent de vous offrir une meilleure expérience en ligne lorsque vous utilisez notre site Web. Ils ne recueillent ni ne conservent aucune information qui nous permettrait de vous identifier personnellement.
            </br>
            <hr>
            <h3>Cookies de performance</h3>
            Les cookies de performance nous aident à comprendre comment nos clients utilisent notre site, afin que nous puissions maintenir nos produits et services pertinents, faciles à utiliser et à jour. Par exemple, nous pouvons voir quels produits et services sont les plus populaires, identifier quand et où les erreurs se produisent, et tester différentes versions d'une page afin de fournir une meilleure expérience en ligne.
            
            </br>
            <hr>
            <h3>Formulaires de contact</h3>
            Les données des formulaires de contact sont collectées afin de pouvoir répondre à vos différentes demandes professionnelles (email, nom/prénom, message et adresse IP). Ces données sont utilisées pour répondre à vos différentes sollicitations commerciales.
            En aucun cas ces données ne seront utilisées à d’autres fins (emailing, revente de vos données, etc.).
            
            </br>
            Parfois, les services que nous utilisons pour recueillir ces renseignements peuvent être exploités par d'autres entreprises en notre nom. Ils peuvent utiliser des technologies similaires aux cookies, connues sous le nom de "pixel espion ». Elles sont anonymes et, comme elles ne sont utilisées qu'à des fins statistiques, elles ne contiennent ni ne recueillent aucune information permettant de vous identifier.
            </br>
            <hr>
            <h3>GESTION DES COOKIES</h3>
            La plupart des navigateurs Internet vous permettent d'effacer les cookies du disque dur de votre ordinateur, de bloquer tous les cookies (ou seulement les cookies tiers) ou de vous avertir avant qu'un cookie ne soit enregistré sur votre appareil.            </br>
            </br>
            Veuillez noter que si vous choisissez de bloquer tous les cookies, notre site ne fonctionnera pas comme prévu et vous ne pourrez pas utiliser ou accéder à plusieurs des services que nous fournissons. Si vous avez bloqué tous les cookies et que vous souhaitez utiliser pleinement les fonctions et services que nous offrons, vous devez activer vos cookies. Vous pouvez le faire dans votre navigateur (voir ci-dessous).
            </br>
            Plutôt que de bloquer tous les cookies, vous pouvez choisir de ne bloquer que les cookies de tiers qui permettront toujours à notre site Web de fonctionner comme prévu.
            
            </br> 
            
            Gérer les cookies sur votre PC
            Pour activer/désativer les cookies sur notre site Web, suivez les étapes ci-dessous :
            </br>
            
            <ul>
            Google Chrome
<li>Cliquez sur "Outils" en haut de votre navigateur et sélectionnez "Paramètres".</li>
<li>Cliquez sur "Afficher les paramètres avancés", faites défiler jusqu'à la section "Confidentialité" et cliquez sur "Paramètres de contenu".</li>
<li>Sélectionner "Autoriser le paramétrage des données locales". Pour accepter uniquement les cookies de première partie, cochez la case "Bloquer tous les cookies tiers sans exception".</li>
            </ul></br>
            <ul>
            Microsoft Internet Explorer 6.0, 7.0, 8.0, 8.0, 9.0
 <li>Cliquez sur "Outils" en haut de votre navigateur et sélectionnez "Options Internet", puis cliquez sur l'onglet "Confidentialité".</li>
<li>Vérifiez que le niveau de confidentialité de votre vie privée est réglé sur Moyen ou inférieur, ce qui permettra l'utilisation de cookies dans votre navigateur.</li>
<li>S'il est réglé au-dessus d'un niveau moyen, il empêchera l'utilisation de cookies.</li></ul>
            </br><ul>
            Mozilla Firefox
<li>Cliquez sur "Outils" en haut de votre navigateur et sélectionnez "Options".</li>
<li>Sélectionnez ensuite l'icône "Confidentialité".</li>
<li>Cliquez sur "Cookies" et sélectionnez "Autoriser les pages à créer un cookie".</li></ul>
<br><ul>
Safari
<li>Cliquez sur l'icône d'équipement en haut de votre navigateur et sélectionnez "Paramètres".</li>
<li>Cliquez sur l'onglet "Confidentialité", puis sélectionnez l'option "Désactiver l'utilisation des cookies par des tiers et des cookies publicitaires".</li>
<li>Cliquez sur "Enregistrer".</li></ul>

            </br>
            Gérer les cookies sur votre Mac
            </br>
            </br><ul>
            Microsoft Internet Explorer 5.0 sous OSX
<li>Cliquez sur "Explorer" en haut de votre navigateur et sélectionnez "Paramètres".</li>
<li>Faites défiler vers le bas jusqu'à la section "Cookies" dans la section "Fichiers reçus".</li>
<li>Sélectionnez "Ne pas demander."</li></ul>
            </br><ul>
            Safari sur OSX
<li>Cliquez sur "Safari" en haut de votre navigateur et sélectionnez "Paramètres". </li>
<li>Cliquez sur "Confidentialité", puis sur "Activer les cookies". </li>
<li>Sélectionnez "seulement les pages que vous avez visitées".</li>
     </ul>
      </br><ul>

Mozilla et Netscape sous OSX
<li>Cliquez sur "Mozilla" ou "Netscape" en haut de votre navigateur et sélectionnez "Paramètres".  Faites défiler vers le bas jusqu'aux "Cookies" sous "Confidentialité et sécurité". </li>
<li>Sélectionnez "Autoriser les cookies uniquement sur le site d'origine".</li>
     </ul>
     </br><ul>

        Opéra
     <li>Cliquez sur "Menu" en haut de votre navigateur et sélectionnez "Paramètres". </li>
<li>Sélectionnez ensuite l'onglet "Options" et l'onglet "Avancé". </li>
<li>Sélectionnez "Activer les cookies".</li>

</ul>
</br>
 

            </br>
    </div>

</div>




